* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
content: '';
display: table;
clear: both;
}

.container {
  width: 80%;
  margin: 20px auto;
}

/* HEADER */
header {
  height: 100px;
  background-color: #E579E6;
}

/* MAIN */
main .jumbotron {
  height: 300px;
  margin: 25px 0;
  background-color: #E1D67A;
}

.main-content {
  height: 500px;
  margin-bottom: 10px;
  background-color: #0086FF;
}